<section>
    @if (isLoggedIn){
    <p> Bienvenido {{username}} </p>
    <img alt="photo" src="https://github.com/luispzmarin.png" (click)="greet()"> 
    
     
    <app-games username=" {{username}}" (addFavoriteEvent)="getFavorite($event)"></app-games>

    } @else {
        <p> Inicia sesión</p>
        <button (click)="isLoggedIn=true"> Pulsa </button>
    }

@if (favGame != ''){
    <p> Tu juego favorito es {{favGame}}</p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla omnis tempora, vitae velit culpa, fugiat tempore nisi sint quam rem nam illum praesentium iusto quaerat? Quisquam blanditiis sit sequi. Necessitatibus!
    
}
</section>

