section {
    max-width: 500px;
    margin: 0 auto ;
    padding: 50px;
    font-size: 32px;
}

img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 50px;

}

button{
    width: 64px;
    padding: 50 px;
    height: 64px;
    margin: 0 auto;
    font-size: 20px;
    border-radius: 25%;
}